<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Questions</title>
    <script>

    </script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container card">
        <div class="card-body">

            <div>
                <span th:text=${question.question}></span>
                <div class="m-3">
                    <div th:text=${question.option1}></div>
                    <div th:text=${question.option2}></div>
                    <div th:text=${question.option3}></div>
                    <div th:text=${question.option4}></div>
                </div>
            </div>

            <div class="btn btn-primary" th:replace="fragments/footer :: footer"></div>

</body>

</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <form class="m-auto w-50" style="text-align: center;" th:action="@{addQuestion}" method="post">
                    <div hidden class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="id" th:value="${question.id}">
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Question</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="question" th:value="${question.question}"
                                required>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label>Option A</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="option1" th:value="${question.option1}">
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Option B</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="option2" th:value="${question.option2}">
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label>Option C</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="option3" th:value="${question.option3}">
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label>Option D</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="option4" th:value="${question.option4}">
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label>Correct Option</label>
                        </div>
                        <div class="col-md-6">
                            <select name="correctOption" id="">
                                <option th:if="${question.correctOption} == 1" value="1" selected>Option A</option>
                                <option th:unless="${question.correctOption} == 1" value="1">Option A</option>

                                <option th:if="${question.correctOption} == 2" value="2" selected>Option B</option>
                                <option th:unless="${question.correctOption} == 2" value="2">Option B</option>

                                <option th:if="${question.correctOption} == 3" value="3" selected>Option C</option>
                                <option th:unless="${question.correctOption} == 3" value="3">Option C</option>

                                <option th:if="${question.correctOption} == 4" value="4" selected>Option D</option>
                                <option th:unless="${question.correctOption} == 4" value="4">Option D</option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div>
                        <input class="btn btn-primary" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btn btn-primary" th:replace="fragments/footer :: footer"></div>

</body>

</html>